
@import "bootstrap";



.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  color: $gray-800;
}

b,
strong {
  font-weight: $headings-font-weight; // Add the correct font weight in Chrome, Edge, and Safari
}
h2 {
	margin-bottom: 1rem;
	color: $gray-700;
}
h4 {
	margin-bottom: 0.25rem;
}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.experience, 
.education, 
.skills, 
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}
section > .row {
	margin-bottom: 0.5rem;
}
/* Custom page header */
.header {
  padding-bottom: 1rem;
  @media (min-width: 48em) {
  	border-bottom: .05rem solid #e5e5e5;
  }
}
.jumbotron {
	padding: 1.5rem 1rem 1rem;
	margin-bottom: 3rem;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
  p {
	  font-size: 0.66rem;
	  letter-spacing: 0.05rem;
	  text-transform: uppercase;
	  font-weight: 600;
  }
}
.dates {
	font-size: 0.875rem;
	line-height: 1.414;
	color: $gray-700;
	margin-bottom: 0.3em;
	@media (min-width: 48em) {
		text-align: right;
	}
}
/* Customize container */
@media (min-width: 48em) {
  .container {
    max-width: 46rem;
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

/* Supporting marketing content */
.marketing,
.experience, 
.education, 
.skills {
  margin: 1.5rem 0;
  p + h4 {
  	margin-top: 1.5rem;
  }
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
	.experience, 
	.education, 
	.skills,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  .social {
	  float: left;
  }
  
  .contact {
	  text-align: right;
  }
}

@media print{    
   html {
		font-size: 65%;
	}
	.container {
		max-width: 90%;
	}
	.social {
		margin-bottom: 1rem;
		a {
			display: block;
			margin: 0;
		}
	}
	a:after{
		content:" (" attr(href) ") ";
		font-size:0.8em;
		font-weight:300;
		text-transform: lowercase;
	}
	a[href^="tel:"],
	a[href^="mailto:"] {
		&:after{
			content:none;
		}
	}
	.jumbotron {
		margin-bottom: 1.5rem;
	}
}